.login-page-banner {
    background-image: linear-gradient(rgb(3 169 244 / 45%), #372366e8), url(../../images/a11.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}