/* .banner-container {

    background-image: linear-gradient(rgb(247 247 247/10%), rgb(199 210 254)), url(../../../images/30.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
} */

.banner-home {
    background-image: linear-gradient(rgb(247 247 247), rgb(199 210 254));
}

.header-banner {
    height: 500px;
    width: 500px;
}

.header-banner-img {
    height: 100% !important;
    width: 100% !important;
}

@media screen and (max-width: 768px) {
    .header-banner {
        height: 350px;
        width: 350px;
    }
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}