.cart {
  position: relative;

}

.limit-stock {
  position: absolute;
  top: 80px;
  left: 0;
  padding: 40px 0;
  background: rgba(255, 0, 0, 0.4);
  width: 100%;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;

}

.product-img {
  height: 260px;
  width: 260px;
}

@media screen and (max-width: 600px) {
  .product-img {
    height: auto;
    width: auto;
  }

}