.about-bottom-banner{
    background-image: linear-gradient(rgb(3 169 244 / 45%), #372366e8), url(../../images/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}